*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}
body{
    width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.box{
    padding-top: 30px;
    text-align: center;
}
.title{
    padding-bottom: 20px;
}
.input{
    padding-bottom: 10px;
}
.input label{
    display: inline-block;
    width: 100px; 
}
select{
    font-size: 15px;
    height: 20px;
}
input{
    font-size: 15px;
    width: 100px;
    height: 10px;
    padding: 8px 0;
    border-style: none;
    border-bottom: solid;
    background-color: #fff;
    outline: 0;
}
button{
    font-size: 15px;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}
#results{
    padding-top: 40px;
    display: inline-block;
    display: none;
}